In [212]:
import pandas as pd
import os
import numpy as numpy

# File to Load (Remember to Change These)
train_data = "Data/train.csv"

In [213]:
df_train_data = pd.read_csv(train_data)

In [214]:
df_train_data[0:5]

,ID,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,...,gender,ethnicity,jaundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,0,1,1,1,1,0,1,1,...,f,White-European,no,no,United States,no,7.819715,18 and more,Self,0
1,2,0,0,0,0,0,0,0,0,0,...,f,South Asian,no,no,Australia,no,10.544296,18 and more,?,0
2,3,1,1,1,1,1,1,0,0,1,...,f,White-European,no,no,United Kingdom,no,13.167506,18 and more,Self,1
3,4,0,0,0,1,0,0,0,0,0,...,f,South Asian,no,no,New Zealand,no,1.530098,18 and more,?,0
4,5,0,0,0,0,1,0,0,0,1,...,m,Black,no,yes,Italy,no,7.949723,18 and more,Self,0

In [215]:
column_mapping = {'jaundice': 'jaundice_at_birth',
                  'autism': 'family_history_of_autism',
                   'relation': 'test_taker',
                  'result': 'ASQ_Total_score',
                 'contry_of_res': 'country_of_residence',
                 'Class/ASD': 'Autism_Diagnosis'}

In [216]:
df_train_data = df_train_data.rename(columns=column_mapping)

In [217]:
df_train_data = df_train_data.drop(['ID', 'age_desc'], axis=1)

In [218]:
df_train_data[0:5]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jaundice_at_birth,austim,country_of_residence,used_app_before,ASQ_Total_score,test_taker,Autism_Diagnosis
0,1,0,1,1,1,1,0,1,1,1,18.605397,f,White-European,no,no,United States,no,7.819715,Self,0
1,0,0,0,0,0,0,0,0,0,1,13.829369,f,South Asian,no,no,Australia,no,10.544296,?,0
2,1,1,1,1,1,1,0,0,1,1,14.679893,f,White-European,no,no,United Kingdom,no,13.167506,Self,1
3,0,0,0,1,0,0,0,0,0,0,61.035288,f,South Asian,no,no,New Zealand,no,1.530098,?,0
4,0,0,0,0,1,0,0,0,1,1,14.256686,m,Black,no,yes,Italy,no,7.949723,Self,0

In [219]:
count = df_train_data.nunique()
print(count)

A1_Score                  2
A2_Score                  2
A3_Score                  2
A4_Score                  2
A5_Score                  2
A6_Score                  2
A7_Score                  2
A8_Score                  2
A9_Score                  2
A10_Score                 2
age                     800
gender                    2
ethnicity                12
jaundice_at_birth         2
austim                    2
country_of_residence     61
used_app_before           2
ASQ_Total_score         800
test_taker                6
Autism_Diagnosis          2
dtype: int64

In [220]:
count_type = df_train_data.country_of_residence.value_counts()
print(count_type)

United States           148
United Arab Emirates     94
New Zealand              93
India                    74
United Kingdom           58
                       ...
Indonesia                 1
Tonga                     1
Iraq                      1
Finland                   1
Niger                     1
Name: country_of_residence, Length: 61, dtype: int64

In [221]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
countries_to_replace = list(count_type[count_type<5].index)

# Replace in dataframe
for countries in countries_to_replace:
    df_train_data['country_of_residence'] = df_train_data['country_of_residence'].replace(countries,"Other")

# Check to make sure binning was successful
df_train_data['country_of_residence'].value_counts()

United States           148
United Arab Emirates     94
New Zealand              93
India                    74
Other                    73
United Kingdom           58
Australia                43
Jordan                   40
Afghanistan              23
Sri Lanka                16
Canada                   15
Netherlands              14
France                   12
Austria                  12
Italy                    11
Brazil                    9
Russia                    9
Kazakhstan                7
Viet Nam                  6
Armenia                   6
Philippines               6
Mexico                    6
Egypt                     5
Malaysia                  5
Spain                     5
Iran                      5
South Africa              5
Name: country_of_residence, dtype: int64

In [222]:
train_dummies = pd.get_dummies(df_train_data)
train_dummies.head(5)

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,country_of_residence_United States,country_of_residence_Viet Nam,used_app_before_no,used_app_before_yes,test_taker_?,test_taker_Health care professional,test_taker_Others,test_taker_Parent,test_taker_Relative,test_taker_Self
0,1,0,1,1,1,1,0,1,1,1,...,1,0,1,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,1,0,0,0,0,0
2,1,1,1,1,1,1,0,0,1,1,...,0,0,1,0,0,0,0,0,0,1
3,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
4,0,0,0,0,1,0,0,0,1,1,...,0,0,1,0,0,0,0,0,0,1

In [223]:
train_dummies.dtypes

A1_Score                               int64
A2_Score                               int64
A3_Score                               int64
A4_Score                               int64
A5_Score                               int64
                                       ...
test_taker_Health care professional    uint8
test_taker_Others                      uint8
test_taker_Parent                      uint8
test_taker_Relative                    uint8
test_taker_Self                        uint8
Length: 66, dtype: object

In [224]:
train_dummies = train_dummies.astype('float')

In [225]:
string_columns = train_dummies.select_dtypes(include='object')

columns_with_strings = string_columns.columns

print(columns_with_strings)

Index([], dtype='object')

In [226]:
if string_columns.any().any():
    print("There are columns with string values.")
else:
    print("There are no columns with string values.")

There are no columns with string values.

In [227]:
train_dummies.to_csv('Data/cleaned_train.csv', index=False, mode='w')